[user]
	email = 55900130+fed1337@users.noreply.github.com
	name = Fedor S
	signingkey = /home/feds/.ssh/id_ed25519.pub
[init]
	defaultBranch = master
[gpg]
	format = ssh

[commit]
	gpgsign = true

[tag]
	gpgsign = true
