[user]
	email = 55900130+fed1337@users.noreply.github.com
	name = Fedor S
	signingkey = /home/feds/.ssh/id_ed25519.pub
[init]
	defaultBranch = master
[gpg]
	format = ssh

[commit]
	gpgsign = true

[tag]
	gpgsign = true
[alias]
	ss = status
	st = stash
	stp = stash pop
	ch = checkout
	cm = commit -m
	up = push origin
	down = pull origin
	graph = log --oneline --graph --decorate
	graphall = log --oneline --graph --decorate --all
	stop-tracking = update-index --assume-unchanged
	track-again = update-index --no-assume-unchanged
	new-branch = checkout -b
	list-alias = config --get-regexp ^alias\\.
